.spinner {
  margin: auto 50% auto 50%;
}

.sem-favoritos {
  margin: auto;
  color:gray;
  width: 100vw;
}

#like {
  height: 50px;
  width: 50px;
  background-color: blue;
  color: aliceblue;
  display: inline-block;
}
