



.comentarios {
  font-size: 1em;
  font-style: italic;
}

.avaliacao {
  font-size: 1em;
  font-style: bold;
}

.as-icon-delete {
  color:crimson;
}

.as-icon-comment {
  color: blue;
}

.spinner {
  margin: auto 50% auto 50%;
}

.fab ion-fab-button {
  background-color: none!important;
}

.fav-yes {
background-color: none!important;
}

.fav-yes ion-icon {

  color: crimson!important;
}

.fav-no {

  background-color: none!important;
}

.fav-no ion-icon {

  color: #fff!important;
}
